#Postgres
HOST=
PORT=
DATABASE=
POSTGRES_USER=
PASSWORD=


STORAGE_CONNECTION_COUNT=
#Slack key 

SLACK_API_KEY= 
#StatsD
STATS_HOST=
STATS_PORT=

#Api Gateway
GATEKEEPER_URL=https://kjabyesfa1.execute-api.us-west-2.amazonaws.com/prod
REQUEST_TIMEOUT=3

# Cortex
CORTEX_URL=corte-LoadB-NO3ADH7YTT46-a8e4d3a462062939.elb.us-west-2.amazonaws.com
CORTEX_PORT=8081



#environment 
ENV=
