#Postgres
HOST=
PORT=
DATABASE=
POSTGRES_USER=
PASSWORD=

#graphite 
CONVEYOR_COUNT=1
FLUSH_INTERVAL=200
GRAPHITE_URL=
GRAPHITE_API_KEY=
GRAPHITE_REQUEST_TIMEOUT=3

STORAGE_CONNECTION_COUNT=
#Slack key 

SLACK_API_KEY= 
#StatsD
STATS_HOST=
STATS_PORT=

#Api Gateway
GATEKEEPER_URL=
REQUEST_TIMEOUT=3

# Cortex
CORTEX_URL=
CORTEX_PORT=8081

# Binance 
BINANCE_REST_URL=https://api.binance.com/api/v1/klines

# Conveyor 
DISPATCH_INTERVAL=3

#environment 
ENV=
SERVICE_NAME=